// out: ../_main.css, compress: true, sourcemap: false

// This stylesheet is used by all UI elements. It defines
// common styles.

// CSS Reset
@import "normalize"

body
  width 100vw
  height 100vh
  overflow-x hidden
  box-sizing border-box
  
.container
  width 100vw
  height 100vh
